[Unit]
Description=Error Checker for the Cameras

[Service]
Type=oneshot
ExecStart=/opt/DogCamera/bin/stale_check.sh

[Install]
WantedBy=multi-user.target

