[Unit]
Description=HLS Encoder for the Living Room

[Service]
Type=simple
ExecStart=/opt/DogCamera/bin/camera.sh LivingRoomCam
Restart=always

[Install]
WantedBy=multi-user.target


