[Unit]
Description=WebUI for DogCamera
After=systemd-networkd.service

[Service]
Type=simple
WorkingDirectory=/opt/DogCamera
ExecStart=/opt/DogCamera/app.js
Restart=always

[Install]
WantedBy=multi-user.target


