[Unit]
Description=WebUI for DogCamera
After=network-online.target
Wants=network-online.target
# Overwrite these Cameras you want to start
After=scam_hls@LivingRoomCam.service
After=scam_hls@KitchenCam.service

[Service]
Type=simple
WorkingDirectory=/opt/DogCamera
ExecStart=/opt/DogCamera/app.js
Restart=always

[Install]
WantedBy=multi-user.target


