[Unit]
Description=HLS Encoder for the Living Room
After=systemd-networkd.service


[Service]
Type=simple
ExecStart=/opt/DogCamera/bin/camera.sh LivingRoomCam
Restart=always

[Install]
WantedBy=multi-user.target


