[Unit]
Description=Error Checker for the Cameras

[Service]
Type=simple
ExecStart=/opt/DogCamera/bin/stale_check.sh
Restart=always

[Install]
WantedBy=multi-user.target



