[Unit]
Description=HLS Encoder for Kitchen
After=systemd-networkd.service


[Service]
Type=simple
ExecStart=/opt/DogCamera/bin/camera.sh KitchenCam
Restart=always

[Install]
WantedBy=multi-user.target


